@import "tailwindcss";
.elegance{
   font-family: "Poppins", sans-serif;
  font-weight: 50;
  font-style: normal;
}
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
.backcolor{
  background-color:;
}